body {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
    background: #e6d5e6;
    background: radial-gradient(circle,rgba(230, 213, 230, 1) 68%, rgba(148, 187, 233, 1) 100%);
}

html {
    scroll-behavior: smooth;
}

/* Seccion del Header */
.NavBar {
    display: flex;
    justify-content: space-between;
}

.Enlace {
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

.Enlace:hover {
    color: #FDB7EA;
    background-color: #B7B1F2;
    transition: all 1s;
    transform: scale(1.2);
}

.Titulo {
    display: flex;
    justify-content: center;    
}

.Subtitulo {
    display: flex;
    justify-content: center;
}
/* Fin de la seccion Header */

.Inicio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Pastel {
    border-radius: 15px;
    border: 5px solid black;
}

.Sobre-Nosotros {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

.Galeria {
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    border: 5px solid black;
}

.Text-Galeria {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.Postres {
    border-radius: 15px;
}

.Button-Ver-Mas {
    border-radius: 15px;
    border: 5px solid black;
    color: white;
    background-color: #B7B1F2;
}

.Button-Ver-Mas:hover {
    background-color: white;
    color: #B7B1F2;
    transition: 1.5s;
    transform: scale(1.2);
}

.Contacto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.Derechos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.Button-Envio {
    font-size: 40px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: blueviolet;
    color: white;
}

@media (max-width:1290px) {
    .Galeria {
        border-radius: 0px;
        border: 0px ;
    }

    .Pastel {
        border-radius: 0px;
        border: 0px;
    }
}

